streamlit
youtube-transcript-api
pytube
yt-dlp
imageio-ffmpeg
openai
groq
langchain
langchain-community
langchain-openai
langchain-groq
PyPDF2
beautifulsoup4
faiss-cpu
tiktoken
requests
urllib3
python-dotenv
typing-extensions